<% content_for :pagetitle do %>
  Group: <%= @group.name %>
<% end %>

<div class="table-responsive">
  <table id="users" class="table table-striped" width="100%">
    <thead>
      <th>Members</th>
      <th>E-mail</th>
      <th>Last Login</th>
      <th>Last Time</th>
    </thead>
    <tbody>
      <% for user in @members %>
        <tr>
          <% gu = user.groups_users.find_by(group_id: @group.id) %>
          <td><%= link_to user.display_name, user_path(user) %></td>
          <td><%= user.email %></td>
          <td><%= user.current_sign_in_at.localtime.strftime('%D %I:%M %p') if user.current_sign_in_at %></td>
          <td><%= distance_of_time_in_words(user.current_sign_in_at, Time.now) if user.current_sign_in_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>