<%= bootstrap_form_for(@user, layout: :horizontal, label_col: 'col-sm-2',  control_col: 'col-sm-4') do |f| %>
  <% if @user.new_record? %>
    <%= f.text_field :username, autofocus: true, required: true %>
  <% else %>
    <%= f.static_control :username %>
  <% end %>
  <%= f.static_control :email %>
  <%= f.static_control :display_name %>
  <% if policy(@user).edit? %>
    <div class='form-group row'>
      <label class='col-form-label col-sm-2' for='user[roles_ids][]'>
        Roles
      </label>
      <div class='col-sm-4'>
        <%= react_component('Multiselect', options: @roles, selected: @roles_selected, element_name: 'user[role_ids][]')%>
      </div>
    </div>
  <% end %>
  <br />
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <%= f.submit class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
